@media only screen {
    html {
        font-size: 14px;
    }
}

html {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

.wallet-frame {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 1px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0, 0.24);
    transition: 0.3s ease;
}

.menu-container {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    transition: 0.5s ease;
    color: rgba(255, 255, 255, 0.87);
    background-color: #05be77;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
}

.menu-container.active {
    position: absolute;
    display: block;
    height: 100%;
    width: 33%;
    margin: 0 auto 0;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #05be77;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    /*transition: 0.5s ease;*/
    /*-moz-transition: 0.5s ease;*/
    /*-o-transition: 0.5s ease;*/
    /*-webkit-transition: 0.5s ease;*/
    /*z-index: 3;*/
    opacity: 1;
}

.container {
    position: relative;
    display: block;
    height: 145px;
    width: 100%;
    margin: 0 auto 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #05be77;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.monthly-in-out {
    position: relative;
    display: flex;
    top: 60px;
    width: 100%;
    justify-content: space-evenly;
}

.deposite-histo {
    position: relative;
    width: 4px;
    height: 20px;
    display: block;
    border-radius: 3px;
    background-color: #43a18d;
    z-index: 2;
}

.blank-histo {
    position: relative;
    top: 5px;
    width: 4px;
    height: 15px;
    display: block;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0);
    z-index: 2;
}

.withdrawal-histo {
    position: relative;
    top: 5px;
    width: 4px;
    height: 15px;
    display: block;
    border-radius: 3px;
    background-color: #f3e9e9;
    z-index: 2;
}

.current-deposite-histo {
    position: relative;
    top: -10px;
    height: 30px;
    background-color: #3c8576;
}

.current-withdrawal-histo {
    position: relative;
    top: -25px;
    height: 45px;
    background-color: #ffffff;
}

.histogram {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.month-label {
    display: block;
    text-align: center;
    padding: 4 0 3;
    height: 25px;
    font-size: 0.75em;
}

.month-label-fix {
    position: absolute;
    display: block;
    top: 20px;
    text-align: center;
    height: 25px;
    width: 100%;
    font-size: 0.75em;
}

.month {
    position: relative;
    display: block;
    width: 50px;
    justify-content: center;
}

.container-body {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #eceeed;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.12), 0 1px 1px rgb(0, 0, 0, 0.12);
}

.in-out-row {
    position: relative;
    display: inline-flex;
    height: 60px;
    width: 100%;
    margin: 0 auto 0;
    justify-items: auto;
    color: rgba(255, 255, 255, 0.7);
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.12);
}

.month-withdrawal,
.month-deposite {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto 0;
    padding: inherit;
    color: rgba(51, 52, 53, 0.336);
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0, 0.12);
    text-align: center;
}

.deposite-text {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 30px;
    margin: 0 auto 0;
    font-size: 0.975em;
    color: rgba(51, 52, 53, 0.58);
}

.deposite-amount {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 25px;
    margin: 0 auto 0;
    font-size: 0.9em;
    color: rgba(23, 128, 93, 0.7);
}

.withdrawal-text {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 30px;
    margin: 0 auto 0;
    font-size: 0.975em;
    color: rgba(51, 52, 53, 0.58);
}

.withdrawal-amount {
    position: relative;
    display: inline-block;
    line-height: 25px;
    width: 100%;
    margin: 0 auto 0;
    font-size: 0.9em;
    color: rgba(51, 52, 53, 0.58);
}

.border-line {
    position: relative;
    display: inline-block;
    top: 1px;
    left: 4px;
    margin: 0 auto 0;
    padding: 2px 0 3px;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.5);
}

.statements {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 0;
    padding: unset;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f0f5f3;
}

.deposite {
    position: relative;
    display: block;
    width: 100%;
    height: 25px;
    margin: 0 auto 0;
    background-color: #f5fafa;
}

.withdrawal {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin: 0 auto 0;
    background-color: #ffffff;
}

.detail {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 98%;
    top: 1px;
    margin: 0 auto 0;
    padding: 2px 0 3px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7em;
}

.dep-type {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7em;
}

.place {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7em;
}

.d-withdrawal-amount {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7em;
}

.d-deposite-amount {
    color: rgba(23, 128, 93, 0.7);
    font-size: 0.7em;
}

.timestamp {
    color: rgba(145, 148, 150, 0.7);
    font-size: 0.7em;
}

.menu-row {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    /*right: calc(38px - 100%);*/
    right: 34px;
    z-index: 3;
}

.deposite-menu-row {
    top: 15px;
    width: 100%;
    display: block;
    padding: 0 auto 0;
    position: absolute;
}

.deposite-menu-text {
    position: relative;
    padding: 0 auto 0;
    text-align: center;
    font-size: 1.2em;
}

.balance {
    position: relative;
    padding: 0 auto 0;
    text-align: center;
    font-size: 1.05em;
}

#menu-toggle {
    width: 33px;
    height: 33px;
    margin: 8px 0 0;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    z-index: 3;
}

#menu-toggle:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu-toggle .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
}

.hamb-line {
    display: block;
    background: #54706b;
    border-radius: 2px;
}

.cross-line {
    display: block;
    background: #54706b;
    border-radius: 2px;
}

#menu-toggle .hamburger span {
    width: 24px;
    height: 2px;
    position: relative;
    top: 3px;
    left: 4px;
    margin: 5px 0;
}

#menu-toggle .hamburger span:nth-child(1) {
    transition-delay: 0.5s;
}

#menu-toggle .hamburger span:nth-child(2) {
    transition-delay: 0.625s;
}

#menu-toggle .hamburger span:nth-child(3) {
    transition-delay: 0.75s;
}

#menu-toggle .cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    z-index: 5;
}

#menu-toggle .cross span:nth-child(1) {
    width: 2px;
    height: 0%;
    position: absolute;
    top: 18%;
    left: 15px;
    transition-delay: 0s;
}

#menu-toggle .cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 18%;
    top: 15px;
    transition-delay: 0.25s;
}

#menu-toggle.open .hamburger span {
    width: 0%;
}

#menu-toggle.open .hamburger span:nth-child(1) {
    transition-delay: 0s;
}

#menu-toggle.open .hamburger span:nth-child(2) {
    transition-delay: 0.125s;
}

#menu-toggle.open .hamburger span:nth-child(3) {
    transition-delay: 0.25s;
}

#menu-toggle.open .cross span:nth-child(1) {
    height: 60%;
    transition-delay: 0.625s;
    background: #54706b;
}

#menu-toggle.open .cross span:nth-child(2) {
    width: 60%;
    transition-delay: 0.375s;
    background: #54706b;
}
